<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- views/index.ejs -->
    <a  class = "BrowseButton" href="/cars">Browse Cars</a>

    <h1>Welcome to the Cars app!</h1>

    <!-- new code below this line -->
    <img
      class="c63"
      src="https://purepng.com/public/uploads/large/51506279467pyw0dxjgebitlr7u5bpxkttn4ssptsfp1glhxeqwjdnt3ydp33uev7un3yynmckclij2xw2i75orkdp0li2tluqufujtcqqozlla.png"
      alt="CLK GTR"
    />
    <p class="collection">welcome to your favorite car collection</p>
  </body>
  <footer>
    Legends by <a href="https://www.mercedes-benz.com/en/">Mercedes-benz</a>
  </footer>
</html>
