<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Fruit</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- views/cars/new.ejs -->
    <a class="cars-index-link" href="/cars">
      <div class="index-link-text">Back to Cars</div>
    </a>
    <h1>Create a New Car!</h1>
    <form action="/cars" method="POST">
      <label for="brand">Brand:</label>
      <input type="text" name="brand" id="brand" />

      <label for="colorName">Color :</label>
      <input type="text" name="colorName" id="colorName" />

      <label for="price">Price:</label>
      <input type="number" name="price" id="price" />

      <div class="checkbox-div">
        <label for="is-tuned">Tuned?</label>
        <input type="checkbox" name="isTuned" id="is-tuned" />
      </div>

      <button type="submit">Add Car</button>
    </form>
  </body>
</html>
